@import "./scss/hero.scss";
@import "./btn.scss";
@import "./scss/features.scss";
@import "./scss/feeds.scss";
$green: #365a49;
$gray: #f2f5f4;
$blue: #86c3d7;
body {
    margin: 0 0 0 0;
}

img {
    max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 0 0;
}

.section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}