.hero {
  padding-top: 25px;
  padding-right: 80px;
  padding-left: 80px;
  background: url(../img/hero/back.png) center center/cover no-repeat;
}
.hero::after {
  content: "";
  display: block;
  height: 345px;
  background: url(../img/hero/back_img.png);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__links {
  list-style-type: none;
  display: flex;
  font-size: 18px;
  font-family: "Alegreya Sans";
  color: white;
  line-height: 1.5;
}
.menu__links .link {
  margin-right: 30px;
}

.contacts {
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
  font-family: "Alegreya Sans";
  color: white;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: right;
}

.menu__contacts::before {
  content: "";
  height: 11px;
  width: 12px;
  background: url(../img/hero/phone.png);
  margin-right: 5px;
}

.main {
  max-width: 340px;
}
.main p {
  font-size: 21px;
  font-family: "Alegreya Sans";
  color: white;
  line-height: 1.2;
  text-align: left;
}

.main__title {
  font-size: 48px;
  font-family: "Alegreya Sans";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}

.btn {
  max-width: 155px;
  max-height: 60px;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  padding: 20px 30px 20px 30px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #365a49;
}
.btn:hover .btn__link {
  color: white;
}

.btn__link {
  text-decoration: none;
  font-size: 19px;
  font-family: "Alegreya Sans ExtraBold";
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  color: #365a49;
}

.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 470px;
  padding: 0 0 0 0;
}

.information__content {
  display: flex;
  align-items: center;
  max-width: 140px;
  list-style-type: none;
  font-size: 16px;
  font-family: "Alegreya Sans";
  color: white;
  line-height: 1.2;
  text-align: left;
}

.content__icon {
  margin-right: 5px;
  position: relative;
}
.content__icon::after {
  content: "";
  position: absolute;
  height: 41px;
  width: 44px;
  background: url(../img/hero/icon_1_after.png);
}

.features {
  align-items: center;
  padding-top: 115px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 48px;
  font-family: "Alegreya Sans";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 0px 0px 0px 27px;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__content p {
  font-size: 18px;
  font-family: "Alegreya Sans Light";
  color: #666666;
  line-height: 1.2;
  text-align: center;
  max-width: 280px;
}

.features__title p {
  font-size: 18px;
  font-family: "Alegreya Sans";
  color: #666666;
  line-height: 1.2;
  text-align: center;
}

.content__title {
  font-size: 27px;
  font-family: "Alegreya Sans";
  color: black;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.content__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 125px;
  background-color: #f2f5f4;
  border-radius: 50%;
}

.feeds {
  padding-top: 70px;
  padding-left: 60px;
}

.feeds__title h2 {
  font-size: 48px;
  font-family: "Alegreya Sans";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 0px 0px 95px 0px;
}

.content__active {
  display: flex;
  position: relative;
}
.content__active ::after {
  content: "";
  position: absolute;
  height: 345px;
  width: 940px;
  background: url(../img/feeds/berry_black.png) center center/no-repeat cover;
}

.active__text {
  max-width: 450px;
}
.active__text p {
  font-size: 18px;
  font-family: "Alegreya Sans";
  color: #666666;
  line-height: 1.2;
  text-align: left;
}

.text__title {
  font-size: 30px;
  font-family: "Alegreya Sans";
  color: black;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.link__icon {
  display: flex;
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 50%;
}
.link__icon .active {
  border: 2px solid #365a49;
}

.active__icon {
  display: flex;
  height: 255px;
  width: 255px;
  border: 1px solid;
  overflow: hidden;
  margin-right: 20px;
}
.active__icon.icon {
  justify-content: center;
  align-items: center;
}

.icon__img {
  justify-content: center;
  align-items: center;
}

body {
  margin: 0 0 0 0;
}

img {
  max-height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  max-width: 100vh;
  max-height: 650px;
}